{{define "base"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Local styling and favicon -->
    <link rel='stylesheet' href='/static/css/main.css'>
    <link rel='shortcut icon' href='/static/img/favicon.ico' type='image/x-icon'>
    <!-- Google fonts -->
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700'>
    <title>{{template "title" .}}</title>
</head>
<body>
    <header>
        <h1><a href="/">Snippetbox</a></h1>
    </header>
    <!-- Nav bar -->
    {{template "nav" .}}
    <main>
        {{template "main" .}}
    </main>
    <footer>Powered by <a href="https://golang.org">GO</a></footer>
    <script src='/static/js/main.js' type='text/javascript'></script>
</body>
</html>
{{end}}